* {
  box-sizing: border-box;
  /* outline: 1px solid rgb(123, 255, 0); */
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
}

/* h1 {
    color: blue;
} */
