* {
  box-sizing: border-box;
  /* outline: 1px solid rgb(123, 255, 0); */
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
}
.keep-index img,
.keep-index iframe {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

body a {
  text-decoration: none;
  color: black;
}
.main-body {
  background-color: rgb(198, 198, 198);
  height: 300vh;
  /* background-image: url('./../../img/bg-sus-app.jpg'); */
}

/* h1 {
    color: blue;
} */
