* {
  box-sizing: border-box;
  /* outline: 1px solid rgb(123, 255, 0); */
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;

}
img,
iframe {
  height: 150px;
  width: auto;
}
.note {
  border: 1px solid rgba(0, 0, 0, 0.28);
  border-radius: 1em;
  padding: 2%;
  position: relative;
  height: 300px;
  width: auto;
}

body a {
  text-decoration: none;
  color: black;
}
/* h1 {
    color: blue;
} */

