/* flex */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.flex-column {
    flex-direction: column;
}


/* list */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* colors */

.dot {
    color: var(--clr3)
}