.note {
  border: 1px solid rgba(0, 0, 0, 0.28);
  border-radius: 1em;
  padding: 2%;
  position: relative;
  height: 300px;
  width: 250px;
  width: auto;
  flex-basis: 25%;
  cursor: pointer;
}

@media (max-width: 600px) {
  .note {
    flex-basis: auto;
  }
  .note img,
  .note iframe {
    width: 100%;
    object-fit: cover;
  }
}
