.mail-utils {
    display: flex;
    align-items: center;
    /* padding: 1em;s */
    border-bottom: 1px solid rgb(231, 231, 231);
}

.mail-utils a {
    text-decoration: none;
}

.mail-filter {
    margin: 0 1em;
    padding: .5em;
    width: 90%;
    border: none;
}

.mail-filter:hover {
    background-color: rgb(230, 230, 230);
}

.mail-filter:focus {
    outline: none;
    background-color: rgb(230, 230, 230);
}
