.main-area {
    display: flex;
    
}

.side-menu {
    margin: .5em;
    background-color: rgb(241, 210, 210);
}

.mail-display {
    margin: .5em;
    background-color: rgb(228, 228, 228);
    flex-grow: 1;
}



