
.mail-compose{
    width: 250px;
    font-size: .5em;
}

.compose {
    background-color: rgb(245, 245, 245);
    color: black;
    display: inline-block;
    padding: .75em;
    border-radius: 25px;
}

.compose:hover {
    cursor: pointer;
    /* font-weight: 700; */
    /* border: 1px solid black; */
    background-color: rgb(231, 231, 231);
    
}

.compose span {
    font-size: 1.25em;
}

.mini-title{
    background-color: rgb(221, 221, 221);
    padding: .25em 1em;
    font-size: 1.5em;
}

.form-field {
    width: 250px;
    padding: .25em 1em;
}

.plus-sign {
    height: 1em;
}

