.mail-details {
    /* background-color: rgb(149, 243, 255); */
    max-width: 800px;
    margin: 1em auto;
    padding: 0 1em;
}

.mail-details-menu {
    display: flex;
    justify-content:flex-end;
    border-bottom: 1px solid rgb(221, 221, 221);;
}

.mail-details img {
    height: 1em;
    width: auto;
    margin: .5em;
}

.mail-details .title {
    font-size: 2em;
}

