.main-area {
    display: flex;
}

.side-menu {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}

.side-menu-item {
    padding: .5em 0;
}

.side-menu-item:hover {
    cursor: pointer;
    /* box-shadow: 0 4px 2px -0px gray;} */
}