.mail-app {
 max-width: 980px;
 margin: auto;
}

.main-area {
    display: flex;
}

.side-menu {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    /* margin: 0 1em; */
}

.side-menu-item {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: .5em 0;
    
}

.side-menu-btn.word {
    flex-grow: 1;
    margin-left: 1em;
}

.side-menu-item:hover {
    cursor: pointer;
    /* box-shadow: 0 4px 2px -0px gray;} */
}

.side-menu-btn {
    height: 1em;
}

